body {
    background-image: linear-gradient(0.15turn, #514b81, #ffacbb 90%);
}

.container {
    margin: 0 auto;
    width: 1300px;
}

footer {
    color: white;
    font-size: 80%;
    border-top: 1px solid #a192c5;
    text-align: center;

}